# ignore stuff

build
node_modules
.idea
.arcconfig
*.iml
bin
*.bin
*.abi
/mutagen.sh
venv
.env
bigtable-admin.json
bigtable-writer.json


# rust stuff
target

# misc stuff
ethereum-contracts/ERC20-mint/contracts
migrations
build
test
truffle-config.js
test-ledger
~\$*
*.swp
*.swo
.vscode/*

# system stuff
.DS_STORE
